.box {
    border: 1px solid black;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-img {
    width: 400px;
    height: 400px;
}
.container {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win {
    border: 10px solid green;
    color: green;
}
.lose {
    border: 10px solid red;
    color: red;
}
.tie {
    border: 10px solid black;
    color: black;
}
